@{
    ViewBag.Title = "About";
}
<div class="rocks">
    <div class="skillz">
        <h2 class="skillz">About Sirahn...</h2>
        </div>
        <h3></h3>
        <div class="overlay">
            <p>
                As a small kid I started out my professional career as a visionary.  I spent a great deal of time day dreaming.  I think that day dreaming has allwoed me to cultivate
                my creative way of thining.
            </p>
            <p>
                I spent a great deal of time as a licensed insurance broker.  I owned an operated a small brokerage where I focused on "Movie & Film Insuracne".  I was able
                to experience a multitude of businesses and enjoy each respectivly without being directly connected to just one.  Being able to create solutions to diiferent
                problems and come up with new ideas for all these businesses fed my hunger for creativity.
            </p>
            <p>
                Now that I have become a software engineer I look forward to all the things that I can create.  I also look forward to contributing to the planet in some
                capcity with the programming knowledge I have gained.
            </p>
        </div>

        <div class="skillz">

            <p>My current software development skills:</p>
            <ul style="list-style-type:none">
                <li>
                    .Net Framework
                </li>
                <li>
                    C#
                </li>
                <li>
                    JavaScript
                </li>
                <li>
                    SQL
                </li>
                <li>
                    HTML5
                </li>
                <li>
                    CSS3
                </li>
                <li>
                    Entity Framework
                </li>
                <li>
                    ASP.Net
                </li>
                <li>
                    GIT & GIT Bash
                </li>
                <li>
                    Visual Studio
                </li>
            </ul>
        </div>
    </div>

