@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Below you will find my contact info...</h3>


<address>
    615 Glen Eden Court<br />
    Aurora, OH 44202<br />
    <abbr title="Phone">P:</abbr>
    718-612-3774<br/>
    
</address>

<address>
    <strong>Send me a nice email sometime:</strong>   <a href="mailto:SirahnB@gmail.com">SirahnB@Gmail.com</a><br />
   
</address>
@*Social Network links*@
<h3>Github</h3><a href="https://github.com/Sirahn" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
<h3>LinkedIn</h3><a href="https://www.linkedin.com/in/sirahnbutler" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>